<div style="width: 100%; height: calc(100vh - 50px); background-image: url('/assets/bg2.jpg');background-repeat: no-repeat;background-size: 100% 100%;">

  <div style="padding-top: 5%;">

    <img align="center" style="display: block; margin: auto;" src="<%= image_path('pic.jpg') %>" class="img-circle" alt="Imtiyaz" width="486" height="377">
  </div>
<br>
  <br>
  <p align="center" style="color: #ffffff; font-size: 1.5em;">
    A one stop solution for all kinds of RTO works <br> in Telangana and Andhra Pradesh
  </p>

  <p align="center" style="color: #ffffff; font-size: 1.3em;">
    Specialized in Sale-Rent Agreements, Sale Deeds, Will Deeds, EC, Link Documents, Market Value Estimation, Title Verification, Online Registration and many Others ....
  </p>
  <br>
  <br>
  <p align="center">
  <%= link_to "Write to Us", home_write_to_us_path, role:"button ", class: "btn btn-lg btn-primary"%>
  </p>

  <p align="center" style="color: #ffffff;position: absolute;bottom: 30px;width: 100%; font-size: 1.2em;">
    &copy; Imtiyaz Ali
  </p>


</div>